/* ------------------------- GENERAL -------------------------
   ----------------------------------------------------------- */

:root {

    /* ---------- COLOR PALETTE ---------- */
    --l0: #D9D9D9;
    --l1: #D8C7BF;
    --l2: #AC836F;
    --l3: #352B2B;
    --l4: #2B2323;
    --l5: rgb(61, 50, 50);

    --h1: #d35654;
    --h2: #d49629;

    --color-selection: var(--l4);
    --background-selection: var(--l2);
    --background-translucid: #352b2b9f;
    --background-transparent: #2b232300;





    /* ---------- MAIN BLOCK COLORS ---------- */
    --background-body: var(--l4);
    --box-shadow-main: 0 0 3px rgba(232, 232, 232, 0.3);





    /* ---------- FONT VALUES ---------- */
    --color-main: var(--l0);
    --font-size-main: clamp(100%, calc(15px + 0.1vw), 150%);
    --font-family-main: 'Mulish', 'Arial', 'Verdana', sans-serif;
    --font-weight-main: 400;
    --line-height-main: 1.5;
    --text-align-main: left;





    /* ---------- GAP VALUES ---------- */
    --gap1: calc(4 / 16 * 1rem);
    --gap2: calc(8 / 16 * 1rem);
    --gap3: calc(16 / 16 * 1rem);
    --gap4: calc(32 / 16 * 1rem);
    --gap5: calc(72 / 16 * 1rem);
    --gap6: calc(104 / 16 * 1rem);

    --gap: calc(var(--gap3) + 0.7vw);
    --gap-small: calc(0.5 * var(--gap));
    --gap-section: calc(var(--gap3) + 2vw);
    --gap-smallsection: var(--gap);
    --gap-container: clamp(var(--gap), calc(var(--gap2) + 12vw), var(--gap6));
    --border-radius-main: var(--gap1);
    
    --height-sticky: 150px;





    /* ---------- TRANS VALUES ---------- */
    --global-trans-ease: ease-in-out;
    --global-trans-time: .25s;
    --global-trans-property: all;
}

@font-face {
    font-family: 'Chaleum';
    src: url(../chaleum.ttf) format("TrueType");
    font-display: swap;
}










/* ------------------------- BODY & GENERAL -------------------------
   ------------------------------------------------------------------ */

body {
    background: var(--background-body);
    min-width: calc(300 / 16 * 1rem);
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;

    color: var(--color-main);
    font-size: var(--font-size-main);
    font-family: var(--font-family-main);
    font-weight: var(--font-weight-main);
    line-height: var(--line-height-main);
    text-align: var(--text-align-main);
}

.trans {
    transition: var(--global-trans-property) var(--global-trans-time) var(--global-trans-ease);
}

html * {
    box-sizing: border-box;
    margin-top: 0;
}

img {
    max-width: 100%;
    object-fit: cover;
}

p {
    margin: 0 auto;
}

scroll {
    display: block;
    width: 100%;
    height: 100%;
    overflow: auto;
    box-sizing: border-box;
}

.overflow-auto {
    overflow: auto;
}

::-webkit-scrollbar {
    width: calc(8 / 16 * 1rem);
    background: transparent !important;
}

::-webkit-scrollbar-thumb {
    box-sizing: border-box;
    background: var(--h2);
}

::-webkit-scrollbar-track {
    background: transparent;
}

::selection {
    color: var(--color-selection);
    background: var(--background-selection);
}










/* ------------------------- UTILITY CLASSES -------------------------
   ------------------------------------------------------------------- */





/*---------- STYLING ----------*/

ul.unset {
    list-style-type: none !important;
    margin: 0;
    padding: 0;
}

button.unset {
    font-size: unset;
    border: unset;
    background: unset;
    padding: unset;
    cursor: crosshair;

    color: inherit;
    font-family: inherit;
    font-weight: normal;
}

input.unset {
    background: unset;
    color: inherit;
    font-family: inherit;
    border: 0;
    outline: none;
    border-bottom: 1px solid var(--l2);
    padding: 0 var(--gap3) var(--gap2);
}





/*---------- FONTS ----------*/

.left-align {
    text-align: left !important;
}

.center-align {
    text-align: center !important;
}

.right-align {
    text-align: right !important;
}





/*---------- MARGINS & PADDINGS & HEIGHTS ----------*/



/* ----- WIDTHs & HEIGHTS */

.width-100 {
    width: 100%;
}

.width-100vw {
    width: 100vw;
}

.height-100 {
    height: 100%;
}

.height-100vh {
    height: 100vh;
}



/* ----- NOMARGIN */

.nomargin {
    margin: 0 !important;
}

.nomargin--top {
    margin-top: 0 !important;
}

.nomargin--bottom {
    margin-bottom: 0 !important;
}



/* ----- NOPADDING */

.nopadding {
    padding: 0 !important;
}

.nopadding--top {
    padding-top: 0 !important;
}

.nopadding--bottom {
    padding-bottom: 0 !important;
}



/* ----- SQ */

.sq {
    width: var(--sq);
    height: var(--sq);
    --sq: 80px;
}

span.sq, i.sq, b.sq, s.sq {
    display: inline-block;
}

.sq img {
    display: block;
    width: 100%;
    height: 100%;
}

img.sq {
    display: block;
}

.sq.round, .sq.round img {
    border-radius: 50%;
    overflow: hidden;
}



/* ----- DISPLAY */

.display-block {
    display: block;
}

.display-inline {
    display: inline;
}

.display-inline-block {
    display: inline-block;
}

.display-flex {
    display: flex;
}

.display-grid {
    display: grid;
}










/* ------------------------- LAYOUT CLASSES -------------------------
   ------------------------------------------------------------------ */

.flexrow, .flexcolumn {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: var(--gap);
}

.flexrow {
    flex-flow: row nowrap;
}

.flexcolumn {
    flex-flow: column nowrap;
}

.flexrow > *, .flexcolumn > * {
    margin: 0 !important;
}

/* ----- FLEX ALIGNS */

[class*="justify-"], [class*="align-"] {
    display: flex !important;
    gap: var(--gap);
}

[class*="justify-"] > *, [class*="align-"] > * {
    flex: 1 1 auto;
}

.justify-center {
    justify-content: center;
}

.justify-start {
    justify-content: flex-start;
}

.justify-end {
    justify-content: flex-end;
}

.align-center {
    align-items: center;
}

.align-start {
    align-items: flex-start;
}

.align-end {
    align-items: flex-end;
}

/* ----- no-extend */

.no-extend {
    flex: 0 0 auto !important;
}



/* ----- GRID */

.grid-autofit {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--max), 1fr));
    --max: calc(300 / 16 * 1rem);
    gap: var(--gap);
}

.grid-columns {
    display: grid;
    gap: var(--gap);
    grid-template-columns: repeat(var(--column-count), 1fr);
    --column-count: 4;
}

.grid-columns.fixed {
    --column-count: 2;
}

@media all and (max-width: 1600px) {
    .grid-columns:not(.fixed) {
        --column-count: 3;
    }
}

@media all and (max-width: 1200px) {
    .grid-columns:not(.fixed) {
        --column-count: 2;
    }
}

@media all and (max-width: 600px) {
    .grid-columns:not(.fixed) {
        --column-count: 1;
    }
}

[class*="grid-"] > * {
    margin: 0 !important;
    grid-area: unset !important;
}










/* ------------------------- FONTS -------------------------
   --------------------------------------------------------- */



/* ----- LINKS */

a {
    color: unset;
    text-decoration: none;
    transition: var(--global-trans-property) var(--global-trans-time) var(--global-trans-ease);
}

a:not(.unset) {
    color: var(--color-link);
    border-bottom: 2px solid transparent;

    font-weight: bold;
}

a:not(.unset):hover {
    border-bottom: 2px solid var(--color-highlight-link);
}



/* ----- TEXT-ALIGN */

.center-align {
    text-align: center !important;
}

.left-align {
    text-align: left !important;
}

.right-align {
    text-align: right !important;
}

.justify-align {
    text-align: justify !important;
}



/* ----- UTILITY */

.bold {
    font-weight: bold !important;
}

.italic {
    font-style: italic !important;
}

.uppercase {
    text-transform: uppercase !important;
}

.lowercase {
    text-transform: lowercase !important;
}



/* ----- TITLES */

.buttonlink {
    display: inline-block;
    background: var(--background-translucid);
    backdrop-filter: blur(3px);
    padding: var(--gap1) var(--gap3);
    border-radius: var(--gap1);

    font-family: 'Chaleum', serif;
    font-weight: normal !important;
}

a.buttonlink:hover {
    background: var(--h1);
}

.title {
    color: var(--color-main);
    font-family: 'Chaleum', serif;
    font-size: calc(1.7 * var(--font-size-main));
    font-weight: normal;
}

.title.big {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: calc(1.5 * var(--font-size-main));
    border-bottom: 1px solid var(--color);
    --color: var(--l2);
}

.slider .title.big {
    border-bottom: 0;
}

.slider .title.big::after {
    display: block;
    content: '';
    height: 1px;
    background: linear-gradient(to right, var(--color), transparent 70%);
}

.smalltitle {
    color: var(--l2);
    font-family: 'Chaleum', serif;
    font-size: calc(1.4 * var(--font-size-main));
}

.thintitle {
    color: var(--h2);
    font-family: 'Chaleum', serif;
    font-size: calc(1 * var(--font-size-main));
}

.thintitle.big {
    font-size: calc(1.3 * var(--font-size-main));
    margin-bottom: var(--gap3);
    padding: 0 var(--gap);
}

.thintitle.big::before {
    content: '[ ';
}

.thintitle.big::after {
    content: ' ]';
}

.thininfo {
    font-family: 'Chaleum', serif;
    font-size: calc(0.8 * var(--font-size-main));
}










/* ------------------------- SECTIONS & CONTAINERS -------------------------
   ------------------------------------------------------------------------- */





/*---------- SECTIONS ----------*/

.section {
    padding: var(--gap-section) 0;
    margin: 0 auto;
    position: relative;
}

.section + .section {
    margin-top: var(--gap-section);
}





/*---------- CONTAINERS ----------*/

.container {
    padding: 0 var(--gap-container);
    margin: 0;
}





/*---------- CONTAINERS ----------*/

.smallsection {
    margin: 0;
}

.smallsection + .smallsection {
    margin-top: var(--gap);
}










/* ------------------------- PAGE -------------------------
   ------------------------------------------------------------------------- */





/*---------- HEADER ----------*/

.header {
    justify-content: space-between;
    padding-bottom: var(--gap) !important;
    border-bottom: 1px solid var(--l1);
}

.header-sticky header {
    position: sticky;
    top: 0px;
    background: var(--background-body);
    z-index: 1000;
    height: var(--height-sticky);
}

.header-sticky header .section {
    padding: 0 !important;
}

.header-sticky .header {
    height: var(--height-sticky);
}

.header > * {
    text-align: center;
}

.header__title {
    display: inline-flex;
    flex-flow: row nowrap;
    gap: var(--gap3);
    align-items: center;
}

.header__icon {
    --sq: var(--gap4);
}

.header__subtitle {
    line-height: 0;
}





/*---------- FILTERS & NAVIGATION ----------*/

.filters-open, .navigation-open {
    --width-slider: 23vw;

    --height-slider: 70vh;
}

.main-splitter {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
}

.slider {
    width: 0;
    height: var(--height-slider);
    position: sticky;
    top: calc(0.5 * (100vh - var(--height-slider)));
    overflow: hidden;
    opacity: 0;
}

.header-sticky .slider {
    top: calc(var(--height-sticky) + var(--gap));
}

.filters-open .mainlist {
    margin-left: var(--gap6);
}

.navigation-open .mainlist {
    margin-right: var(--gap6);

}

.filters-open .filters, .navigation-open .navigation {
    width: var(--width-slider);
    opacity: 1;
}

.navigation {
    order: 2;
}

.header__button {
    border-radius: 3px;
}

.filters-open .button--filters, .navigation-open .button--navigation {
    background: var(--l2);
    padding: var(--gap1) var(--gap3);
    
    color: var(--l4);
}

.header__button:hover {
    background: var(--l0);
    padding: var(--gap1) var(--gap3);
    
    color: var(--h1);
}



@media all and (max-width: 1400px) {
    .filters-open, .navigation-open {
        --width-slider: 23vw;
    
        --height-slider: 50vh;
    }
    
    .main-splitter {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: flex-start;
    }
    
    .slider {
        width: var(--width-slider) !important;
        height: 0;
        position: sticky;
        top: calc(var(--height-sticky) + var(--gap));
        overflow: hidden;
        z-index: 888;
        background: var(--background-body);
    }
    
    .navigation {
        z-index: 800;
    }
    
    .header-sticky .slider {
        top: calc(var(--height-sticky) + var(--gap));
    }
    
    .filters-open .mainlist {
        margin-left: var(--gap);
    }
    
    .navigation-open .mainlist {
        margin-right: var(--gap);
    
    }

    .navigation {
        order: unset;
        margin-left: auto;
    }
    
    .filters-open .filters, .navigation-open .navigation {
        height: var(--height-slider);
    }
}




.slider {
    background: linear-gradient(var(--dir), transparent 5%, var(--l3));
    padding: var(--gap);
    overflow: auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    gap: var(--gap);
}

.slider > scroll {
    padding-right: var(--gap);
}

.filters {
    --dir: to left;
}

.navigation {
    --dir: to right;
}

.slider__list {
    display: flex;
    flex-flow: row wrap;
    gap: var(--gap3);
}

.slider__group {
    margin-top: var(--gap);
}

.slider__item, .slider__item.unset {
    display: inline-block;
    background: var(--l5);
    padding: var(--gap1) var(--gap3);
    border-radius: 4px;

    transition: all .3s ease-in-out;
}

.slider__item:hover {
    background: var(--h1);
}

.slider__item.selected, .slider__item.unset.selected {
    background: var(--l2);

    color: var(--l4);
    font-weight: bold;
}





/*---------- MAIN LIST ----------*/

.mainlist {
    display: grid;
    width: 100%;
    column-gap: var(--gap5);
    row-gap: var(--gap6);
    grid-template-columns: repeat(auto-fill, minmax(var(--max-width), 1fr));
    --max-width: 240px;
}

.mainlist__item {
    height: 100%;
}

@media all and (max-width: 1400px) {
    .mainlist {
        --max-width: 200px;
    }
}

.item {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    background: linear-gradient(to top, transparent var(--padding-item), var(--background) var(--padding-item), var(--background-transparent) 70%);
    --intro-height: 300px;
    --background: var(--l3);
    --padding-item: var(--gap4);
    gap: var(--padding-item);
}

.item::after {
    display: block;
    content: '';
    width: 100%;
    height: 1px;
    margin-top: auto;
    position: relative;
    background: linear-gradient(to right, var(--background-transparent) 0%, var(--l2), var(--background-transparent) 100%);
}

.item > *:last-child {
    margin-bottom: var(--padding-item);
}

.item--00__li {
    display: none !important;
}

.item__name.smalltitle {
    color: var(--color-main);
    font-size: calc(1.5 * var(--font-size-main));
}

.item__intro:not(:last-child)::after {
    display: block;
    content: '';
    width: 100%;
    height: 1px;
    margin-top: var(--gap);
    background: linear-gradient(to right, var(--background-transparent) 20%, var(--l2), var(--background-transparent) 80%);
}

.item__head {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    height: var(--intro-height);
    position: relative;
}

.item__avatar {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    clip-path: ellipse(67% 65% at 50% 32%);
    /* border-bottom-left-radius: var(--radius);
    border-bottom-right-radius: var(--radius);
    --radius: 50% 50%; */
}

.item__contact {
    opacity: 0;
    flex-flow: row wrap !important;
    justify-content: center;
}

.item:hover .item__contact {
    opacity: 1;
}

.item__elem.unset, .item__elem {
    padding-left: var(--gap);
    padding-right: var(--gap);
}

.item__text.flexcolumn {
    gap: 0;
}

.item__infos {
    max-height: 140px;
}

.item__detailsBlock {
    max-height: 100px;
}

.item__text scroll {
    font-size: calc(0.9 * var(--font-size-main));
    line-height: 1.2;
}

.item__details {
    font-style: italic;
}

scroll::-webkit-scrollbar {
    width: calc(4 / 16 * 1rem);
    background: transparent !important;
}

scroll::-webkit-scrollbar-thumb {
    box-sizing: border-box;
    background: var(--l2);
}

.item--filtered:not(.item--selected) {
    display: none;
}

.infos__container::after {
    content: ' - ';
}

.infos__name::after {
    content: ' : ';
}

.infos__name {
    color: var(--h1);
    font-weight: bold;
}