body {
    padding: 100px;
}

#wrap {
    width: unset !important;
    margin: unset !important;
    padding: var(--bg);
}

.iframeDiv {
    width: 100%;
    height: 600px;
    position: relative;
}

.iframe {
    width: 100%;
    height: 100%;
    border: none;
    padding: 0px;

}
