/*

    -------------------- DISCLAIMER --------------------
    -------------------- by @poesiescendrees
                            tumblr :   https://poesiescendrees.tumblr.com/
                            site :     https://test-renegade.kanak.fr/

    -------------------- css gallery : styling properties gallery
                                       that WOULD PROBABLY conflict
                                       any other preexisting css sheet
                                       indeed, it defines very basic
                                       fonts that could be used everywhere
                                       only use this in complement of the
                                       other css files in this package

                         NEEDS the other styling gallery with the variables
                         INFOS on main demo page

    -------------------- last update : 15.04.2022
*/

HTML *{
  transition: all var(--transt) ease;
  -webkit-transition: all var(--transt) ease;
  -moz-transition: all var(--transt) ease;
  -ms-transition: all var(--transt) ease;
  -o-transition: all var(--transt) ease;
  --transt: .4s;

  box-sizing: border-box;
}

HTML {
  color: var(--color-main);
  font-family: var(--font-family-main);
  font-size: var(--font-size-main);
  line-height: var(--line-height-main);
  text-align: var(--text-align-main);
}

::selection{
  background: var(--m2);
  color: var(--l2);
}





/*- - - - - H1-2-3-4-5-6 - - - - -*/



/*----- H1*/

h1 {
  display: block;
  padding: 5px 20px;
  border-bottom: 1px solid var(--text-shadow);
  position: relative;

  color: var(--color);
  font-size: calc(2* var(--font-size-main));
  font-family: 'Rozha One';
  font-style: normal;
  font-weight: normal;
  letter-pacing: 2px;
  line-height: calc(2* var(--font-size-main));
  text-align: left;
  text-shadow: 2px 0 0 var(--text-shadow);
}

h1:not(.right-align)::before {
  content: '— ';
}

h1.right-align::after {
  content:' —';
}

h1:nth-of-type(4n + 1) {
  --color: var(--d4);
  --text-shadow: var(--h1);
}

h1:nth-of-type(4n + 2) {
  --color: var(--d4);
  --text-shadow: var(--h2);
}

h1:nth-of-type(4n + 3) {
  --color: var(--d4);
  --text-shadow: var(--h3);
}

h1:nth-of-type(4n + 4) {
  --color: var(--d4);
  --text-shadow: var(--h4);
}

/*grey h1*/

h1.grey {
  --color: var(--d4);
  --text-shadow: var(--l4);
}

/*float*/

.float {
  float: left;
}

.float.right {
  float :right;
}

h1 .float {
  text-shadow: none;
  position: relative;
}

h1 .float:not(.right) {
  right: var(--mo);
}

h1 btag.float, h1 dtag.float, h1 .float btag, h1 .float dtag {
  position: relative;
  bottom: 8px;
}



/*----- H2*/

h2 {
  margin: var(--grid-gap) 0 var(--grid-gap) var(--grid-gap);
  padding: 0 var(--grid-gap);
  border-left: 1px solid;

  font-family: 'Rozha One';
  font-size: calc(1.8*var(--font-size-main));
  font-style: normal;
  font-weight: normal;
  letter-spacing: 2px;
  line-height: calc(1.8*var(--line-height-main));
  text-transform: uppercase;
}



/*----- H3*/

h3 {
  margin: var(--bg) 0 var(--sm);
  border: 0;

  font-size: 1.3em;
  font-weight: bold;
}

h3::after {
  content: ' —';
}

* h3:first-child {
  margin-top: 0;
}



/*----- H4*/

h4 {
  color: var(--d4);
  font-family: var(--font-family-main);
  font-size: calc(0.8*var(--font-size-main));
  font-style: normal;
  font-weight: bold;
  letter-spacing: 3px;
  line-height: calc(0.8*var(--line-height-main));
  text-transform: uppercase;
}
