/*- - - - - - - - - - - - - - - - - - - - - - - - - GENERAL - - - - - - - - - - - - - - - - - - - - - - - - -*/





/*- - - - - GENERAL COLORS - - - - -*/

:root {

    --l0: #f6f6f6;
    --l1: #eaeaea;
    --l2: #e1e1e1;
    --l3: #d4d4d4;
    --l4: #bebebe;

    --m1: #8c8c8c;
    --m2: #737373;

    --d1: #696969;
    --d2: #505050;
    --d3: #3b3b3b;
    --d4: #322929;

    --h1: #bd6f9f;
    --h2: #8c61a5;
    --h3: #ccbd4a;
    --h4: #7f9fbd;





  /*- - - - - IMAGES - - - - -*/

  --fill-header: url(https://images2.imgbox.com/72/b4/rpqXc4Nc_o.png) repeat fixed;
  --fill-header-notfixed: url(https://images2.imgbox.com/72/b4/rpqXc4Nc_o.png) repeat;

  /*EN BLANC : https://images2.imgbox.com/2b/af/Qx2EHEsi_o.png*/
}





/*- - - - - FONT - - - - -*/
body {
  --color-main: #383838;
}

.postbody {
    color: var(--color-main);
}
