/*- - - - - - - - - - - - - - - - - - - - - - - - - GENERAL - - - - - - - - - - - - - - - - - - - - - - - - -*/





/*- - - - - GENERAL COLORS - - - - -*/

:root {

    --l0: #232323;
    --l1: #2b2b2b;
    --l2: #333333;
    --l3: #3c3c3c;
    --l4: #4a4a4a;

    --m1: #616161;
    --m2: #777777;

    --d1: #d4d4d4;
    --d2: #e4e4e4;
    --d3: #f1f1f1;
    --d4: #ffffff;

    --h1: #bd6f9f;
    --h2: #8c61a5;
    --h3: #ccbd4a;
    --h4: #7f9fbd;





  /*- - - - - IMAGES - - - - -*/

    --fill-header: url(https://images2.imgbox.com/fd/0c/zsW1iCTZ_o.png) repeat fixed;
    --fill-header-notfixed: url(https://images2.imgbox.com/fd/0c/zsW1iCTZ_o.png) repeat;

  /*EN BLANC : https://images2.imgbox.com/2b/af/Qx2EHEsi_o.png*/
}





/*- - - - - FONT - - - - -*/
body {
  --color-main: #d4d4d4;
}

label {
    color: var(--d3);
}

h3 {
    color: unset;
}
