/* ------------------------- GENERAL -------------------------
   ----------------------------------------------------------- */

:root {

    /* ---------- COLOR PALETTE ---------- */
    --l0: #f6f6f6;
    --l1: #eaeaea;
    --l2: #e1e1e1;
    --l3: #d4d4d4;
    --l4: #bebebe;
  
    --m1: #8c8c8c;
    --m2: #737373;
  
    --d1: #696969;
    --d2: #505050;
    --d3: #3b3b3b;
    --d4: #322929;
  
    --h1: #bd6f9f;
    --h1-light: #e4a9cd;
    --h1-dark: #6a3556;

    --h2: #8c61a5;
    --h2-light: #c09ad6;
    --h2-dark: #543368;

    --h3: #ccbd4a;
    --h3-light: #ece18d;
    --h3-dark: #6c6427;

    --h4: #7f9fbd;
    --h4-light: #bfd7ed;
    --h4-dark: #405e7a;

    --selection: var(--h4-light);
    --selection-highlight: var(--d3);





    /* ---------- MAIN BLOCK COLORS ---------- */
    --background-body: var(--d3);





    /* ---------- FONT VALUES ---------- */
    --color-main: var(--l0);
    --font-size-main: clamp(100%, calc(100% + 0.8vw), 150%);
    --font-family-main: 'Mulish', 'Arial', 'Verdana', sans-serif;
    --font-weight-main: 400;
    --line-height-main: 1.5;
    --text-align-main: left;

    /* ----- color links */
    --color-link: var(--h2-light);
    --color-highlight-link: var(--color-main);





    /* ---------- GAP VALUES ---------- */
    --sm: calc(6 / 16 * 1rem);
    --mo: calc(15 / 16 * 1rem);
    --bg: calc(30 / 16 * 1rem);
    --gi: calc(50 / 16 * 1rem);
    --hu: calc(100 / 16 * 1rem);

    --gap: var(--gi);
    --gap-section: clamp(var(--gap), calc(var(--gap) + 4vw), 8vw);
    --gap-container: clamp(var(--gap), calc(var(--gap) + 6vw), 15vw);





    /* ---------- TRANS VALUES ---------- */
    --global-trans-ease: ease-in-out;
    --global-trans-time: .25s;
    --global-trans-property: all;
}

@media all and (max-width: 1000px) {
    :root {
        --gap: var(--bg);
    }
}

@media all and (max-width: 600px) {
    :root {
        --gap: var(--mo);
    }
}










/* ------------------------- BODY & GENERAL -------------------------
   ------------------------------------------------------------------ */

body {
    background: var(--background-body);
    min-width: calc(400 / 16 * 1rem);
    margin: 0;
    padding: 0;

    color: var(--color-main);
    font-size: var(--font-size-main);
    font-family: var(--font-family-main);
    font-weight: var(--font-weight-main);
    line-height: var(--line-height-main);
    text-align: var(--text-align-main);
}

.trans {
    transition: var(--global-trans-property) var(--global-trans-time) var(--global-trans-ease);
}

html * {
    box-sizing: border-box;
    margin-top: 0;
}

p {
    margin: 0 auto;
}

::-webkit-scrollbar {
    width: calc(8 / 16 * 1rem);
    background: transparent !important;
}

::-webkit-scrollbar-thumb {
    box-sizing: border-box;
    background: var(--h1-light);
}

::-webkit-scrollbar-track {
    background: transparent;
}










/* ------------------------- UTILITY CLASSES -------------------------
   ------------------------------------------------------------------- */





/*---------- STYLING ----------*/

ul.unset {
    list-style-type: none !important;
    margin: 0;
    padding: 0;
}





/*---------- FONTS ----------*/

.left-align {
    text-align: left !important;
}

.center-align {
    text-align: center !important;
}

.right-align {
    text-align: right !important;
}





/*---------- MARGINS & PADDINGS & HEIGHTS ----------*/



/* ----- NOMARGIN */

.nomargin {
    margin: 0 !important;
}

.nomargin--top {
    margin-top: 0 !important;
}

.nomargin--bottom {
    margin-bottom: 0 !important;
}



/* ----- NOPADDING */

.nopadding {
    padding: 0 !important;
}

.nopadding--top {
    padding-top: 0 !important;
}

.nopadding--bottom {
    padding-bottom: 0 !important;
}










/* ------------------------- FONTS -------------------------
   --------------------------------------------------------- */



/* ----- LINKS */

a {
    color: unset;
    text-decoration: none;
    transition: var(--global-trans-property) var(--global-trans-time) var(--global-trans-ease);
}

a:not(.unset) {
    color: var(--color-link);
    border-bottom: 2px solid transparent;

    font-weight: bold;
}

a:not(.unset):hover {
    border-bottom: 2px solid var(--color-highlight-link);
}










/* ------------------------- SECTIONS & CONTAINERS -------------------------
   ------------------------------------------------------------------------- */





/*---------- SECTIONS ----------*/

.section {
    background: var(--background-section);
    padding: var(--gap-section) 0;
    margin: 0;
    position: relative;
    color: var(--color-main);

    --background-section: transparent;
}

.section--h1 {
    --background-section: var(--h1);
    --color-link: var(--h1-light);
    --color-highlight-link: var(--h1-dark);
}

.section--h2 {
    --background-section: var(--h2);
    --color-link: var(--h2-light);
    --color-highlight-link: var(--h2-dark);
}

.section--h3 {
    --background-section: var(--h3);
    --color-main: var(--d4);
    --color-link: var(--h3-dark);
    --color-highlight-link: var(--h3-light);
}

.section--h4 {
    --background-section: var(--h4);
    --color-link: var(--h4-light);
    --color-highlight-link: var(--h4-dark);
}

.section--border {
    border-top: 1px solid;
}





/*---------- CONTAINERS ----------*/

.container {
    padding: 0 var(--gap-container);
    margin: 0;
}